<?php
/*
 * This document has been generated with
 * https://mlocati.github.io/php-cs-fixer-configurator/?version=2.14#configurator
 * you can change this configuration by importing this file.
 */

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR1' => true,
        '@PSR2' => true,
        '@PhpCsFixer' => true,
        // Converts backtick operators to `shell_exec` calls.
        'backtick_to_shell_exec' => true,
        // Comments with annotation should be docblock when used on structural elements.
        'comment_to_phpdoc' => true,
        // Force strict types declaration in all files.
        // Requires PHP >= 7.0.
        'declare_strict_types' => true,
        // Replace deprecated `ereg` regular expression functions with `preg`.
        'ereg_to_preg' => true,
        // Error control operator should be added to deprecation notices and/or removed from other cases.
        'error_suppression' => true,
        // Internal classes should be `final`.
        'final_internal_class' => true,
        // Replace core functions calls returning constants with the constants.
        'function_to_constant' => true,
        // Heredoc/nowdoc content must be properly indented.
        // Requires PHP >= 7.3.
        'heredoc_indentation' => true,
        // Function `implode` must be called with 2 arguments in the documented order.
        'implode_call' => true,
        // List (`array` destructuring) assignment should be declared using the configured syntax.
        // Requires PHP >= 7.1.
        'list_syntax' => true,
        // Use `&&` and `||` logical operators instead of `and` and `or`.
        'logical_operators' => true,
        // Replaces `intval`, `floatval`, `doubleval`, `strval` and `boolval` function calls with according type casting operator.
        'modernize_types_casting' => true,
        // Add leading `\` before constant invocation of internal constant to speed up resolving.
        // Constant name match is case-sensitive, except for `null`, `false` and `true`.
        'native_constant_invocation' => true,
        // Add leading `\` before function invocation to speed up resolving.
        'native_function_invocation' => true,
        // Master functions shall be used instead of aliases.
        'no_alias_functions' => true,
        // Replace accidental usage of homoglyphs (non ascii characters) in names.
        'no_homoglyph_names' => true,
        // A final class must not have final methods.
        'no_unneeded_final_method' => false,
        // Remove Zero-width space (ZWSP), Non-breaking space (NBSP) and other invisible unicode symbols.
        'non_printable_character' => true,
        // PHPUnit assertion method calls like `->assertSame(true, $foo)` should be written with dedicated method like `->assertTrue($foo)`.
        'php_unit_construct' => true,
        // PHPUnit assertions like `assertInternalType`, `assertFileExists`, should be used over `assertTrue`.
        'php_unit_dedicate_assert' => true,
        // Usages of `->setExpectedException*` methods MUST be replaced by `->expectException*` methods.
        'php_unit_expectation' => true,
        // Usages of `->getMock` and `->getMockWithoutInvokingTheOriginalConstructor` methods MUST be replaced by `->createMock` or `->createPartialMock` methods.
        'php_unit_mock' => true,
        // PHPUnit classes MUST be used in namespaced version, eg `\PHPUnit\Framework\TestCase` instead of `\PHPUnit_Framework_TestCase`.
        'php_unit_namespaced' => true,
        // Changes the visibility of the `setUp()` and `tearDown()` functions of PHPUnit to `protected`, to match the PHPUnit TestCase.
        'php_unit_set_up_tear_down_visibility' => true,
        // PHPUnit methods like `assertSame` should be used instead of `assertEquals`.
        'php_unit_strict' => true,
        // Calls to `PHPUnit\Framework\TestCase` static methods must all be of the same type, either `$this->`, `self::` or `static::`.
        'php_unit_test_case_static_method_calls' => true,
        // Adds a default `@coversNothing` annotation to PHPUnit test classes that have no `@covers*` annotation.
        'php_unit_test_class_requires_covers' => false,
        // Docblocks should only be used on structural elements.
        'phpdoc_to_comment' => false,
        // Converts `pow` to the `**` operator.
        'pow_to_exponentiation' => true,
        // Class names should match the file name.
        'psr4' => true,
        // Replaces `rand`, `srand`, `getrandmax` functions calls with their `mt_*` analogs.
        'random_api_migration' => true,
        // Inside class or interface element `self` should be preferred to the class name itself.
        'self_accessor' => true,
        // Cast shall be used, not `settype`.
        'set_type_to_cast' => true,
        // A return statement wishing to return `void` should not return `null`.
        'simplified_null_return' => true,
        // Lambdas not (indirect) referencing `$this` must be declared `static`.
        'static_lambda' => true,
        // Comparisons should be strict.
        'strict_comparison' => true,
        // Functions should be used with `$strict` param set to `true`.
        'strict_param' => true,
        // All multi-line strings must use correct line ending.
        'string_line_ending' => true,
        // Use `null` coalescing operator `??` where possible.
        // Requires PHP >= 7.0.
        'ternary_to_null_coalescing' => true,
        // Add void return type to functions with missing or empty return statements, but priority is given to `@return` annotations.
        // Requires PHP >= 7.1.
        'void_return' => true,
    ])
    ->setFinder(PhpCsFixer\Finder::create()
        ->exclude('vendor')
        ->in(__DIR__)
    )
;
